<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cinéfilos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Charts")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Home")'>
                    <img src="~/Images/Logo.png" alt="Cinéfilos" style="height:40px; margin-top:5px">
                </a>
</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Início", "Index", "Home")</li>*@
                    @*<li>@Html.ActionLink("Sobre", "About", "Home")</li>*@

                    @if (User.IsInRole("Administrador"))
                    {
                        <li>@Html.ActionLink("Gerencia de acessos", "ManageUserRoles", "Role")</li>
                      
                        <li>@Html.ActionLink("Filmes", "Index", "Filmes")</li>
                        <li>@Html.ActionLink("Generos", "Index", "Generos")</li>
                        <li>@Html.ActionLink("Salas", "Index", "Salas")</li>
                        <li>@Html.ActionLink("Poltronas", "Index", "Poltronas")</li>
                        <li>@Html.ActionLink("Sesões", "Index", "Sessoes")</li>
                        <li>@Html.ActionLink("Ingressos", "Index", "Ingressos")</li>
                        <li>@Html.ActionLink("Venda", "Index", "Vendas")</li>

                    }

                    @if (User.IsInRole("Gerente"))
                    {
                        <li>@Html.ActionLink("Gerencia de acessos", "ManageUserRoles", "Role")</li>

                        <li>@Html.ActionLink("Filmes", "Index", "Filmes")</li>
                        <li>@Html.ActionLink("Generos", "Index", "Generos")</li>
                        <li>@Html.ActionLink("Salas", "Index", "Salas")</li>
                        <li>@Html.ActionLink("Poltronas", "Index", "Poltronas")</li>
                        <li>@Html.ActionLink("Sesões", "Index", "Sessoes")</li>
                        <li>@Html.ActionLink("Ingressos", "Index", "Ingressos")</li>
                        <li>@Html.ActionLink("Venda", "Index", "Vendas")</li>

                    }

                    @if (User.IsInRole("Atendente"))
                    {
                        <li>@Html.ActionLink("Filmes", "Index", "Filmes")</li>
                      
                        <li>@Html.ActionLink("Poltronas", "Index", "Poltronas")</li>
                        <li>@Html.ActionLink("Sesões", "Index", "Sessoes")</li>
                        <li>@Html.ActionLink("Ingressos", "Index", "Ingressos")</li>
                        <li>@Html.ActionLink("Venda", "Index", "Vendas")</li>

                    }

                    @if (User.IsInRole("Cliente")){ 
                  
             
                    <li>@Html.ActionLink("Filmes", "Index", "Filmes")</li>
                 
                 

                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cinéfilos</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
