@model IEnumerable<cinefilos.Models.Poltronas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink("Create all", "Create_all")<br />
@Html.ActionLink("Delete all", "Delete_all")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome_p)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nome_p)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        
        <td>
         
        </td>
    </tr>
}

</table>



