@model Cinefilos.Models.Ingressos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingressos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sessao.Id_sessao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sessao.Id_sessao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Venda.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Venda.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_ingresso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_ingresso)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_ingresso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
