@model IEnumerable<Cinefilos.Models.Ingressos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sessao.Id_sessao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venda.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Horario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_ingresso)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Sessao.Id_sessao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venda.Cpf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Horario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_ingresso)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_ingresso }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_ingresso }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_ingresso })
        </td>
    </tr>
}

</table>
